venv/
.env
__pycache__/
*.pkl
config/credentials.json
config/credentials1.json
*token.pkl
config/google_credentials1.json
config/google_credentials.json
schedule_output.json
*.md
!README.md
!QUICKSTART.md
!QUICKSTART_GOOGLE.md
!SETUP_CHECKLIST.md